body {
    background-color: rgb(163, 108, 5);
    color: #f2f2f2;
    font-size:1.5em;
    word-spacing: 8px;
}


header {
    font-size: 15px;
    background-color: rgb(255, 255, 255);
    color:black;
    border: 2px black solid;
    text-align: center;
    padding: 8px;
}

.container {
    background-color:#293251;
    margin-left: 15vw;
    margin-right: 15vw;
    padding:15px;
    text-align: center;
    border-radius: 15px;
    height: 90vh;
    box-shadow: 5px 5px black;
    align-items: center;
    font-size: 25px;
}

.input {
    border:3px solid black;
    border-radius: 5px;
    height: 20px;
    font-weight: bold;
}

.button {
    border-color: black;
    background-color: rgb(184, 184, 184);
    width: 250px;
    height: 60px;
    font-size: 30px;
}

#send {
    border:4px rgb(16, 196, 0) solid;
    font-weight: bolder;
}

#clear {
    border:4px rgb(214, 3, 3) solid;
    font-weight: bolder;

}

.button:hover{
    background-color:rgb(85, 85, 85);
}

#send:active {
    background-color:green;
    font-weight: bolder;
}

#clear:active {
    background-color: red;
    font-weight: bolder;
}

#clear:focus , #send:focus {
    background-color:rgb(85, 85, 85);
}

.back_arrow {
    background-color: rgb(194, 0, 0);
    width: fit-content;
    border-radius: 20px;
    box-shadow: 5px 5px black;
}

.back_arrow:active {
    background-color: green;
}

textarea {
    width: 50vw;
    
}








