body {
    text-align:center;
    background-color:rgb(163, 108, 5);
}

header {
    background-color: rgb(255,255,255);
    border:2px black solid;
    padding:30px;
}

#shorts{
    font-size: xx-large!important;
}

table{
    position: relative;
    margin-top: 15vh;
    width: 100%;
    height: 100%;
}

.Play, .Pause, .Next, .Previous {
    opacity: 0.8;
    color: #f2f2f2;
}

.photo {
    position: relative;
    height: 15vh;
}

.back_arrow {
    background-color: rgb(194, 0, 0);
    width: fit-content;
    border-radius: 10px;
    box-shadow: 10px 10px black;
}

.back_arrow:active {
    background-color: green;
}

td, tr{
    border: 10px solid black;
    height: 45vh;
    background-color:#384d99;
    overflow: hidden;
}

.Previous:hover, .Next:hover, .Play:hover,.Pause:hover{
    background-color: #1d2952;
    color:#b8b8b8;    
}

.Previous:active, .Play:active, .Pause:active,.Next:active{
    background-color: green;    
}

td a{
    display: block;
    margin: -30em;
    padding: 30em;
}

td i{
    font-size: 30vh!important;
}



