body {
    background-color:#293251;
}
.player {
    height: 95vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Play, .Pause, .Next, .Previous {
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 10vh;
    opacity: 0.8;
    color: white;
}
.Play:active, .Pause:active, .Next:active, .Previous:active{
    color: black;
}