body{
    background-color: #293251;
}

header {
    background-color: rgb(255, 255, 255);
    border: 2px black solid;
    padding: 20px;
    font-size: 20px !important;
    text-align: center;
}

.container{
    width: 70vw;
    background-color:rgb(163, 108, 5);
    height:80vh;
    display: block;
    margin: 0 auto;

    border-radius: 10px;
    padding-bottom: 150px;
}

.titre{
    width: 70vw;
    height: 15vh;
    border-radius: 10px 10px 0 0;
}

.titre p{
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    font-size: 2em;
    color:#f2f2f2;
    font-weight: bold;

}

.notification{
    background-color: #f8d7da;
    display: none;
}

.notification p{
    color: #721c24;
    font-size: 1.2em;
    margin: 0;
    text-align: center;
    padding: 10px 0;
}

.weather-container{
    margin-left: 5vw;
    margin-right: 5vw;
    height: 70vh;
    background-color: #F4F9FF;
    border-radius: 20px;
    text-align: center;

}

.weather-icon{
    margin-left: 5vw;
    margin-right: 5vw;
    height: 20vh;
    align-self: center;
}

.weather-icon img{
    display: block;
    margin: 0 auto;
}

.temperature-value{
    padding: 0;
    margin: 0;
    color: #293251;
    font-size: 4em;
    text-align: center;
    cursor: pointer;
}


.temperature-value span{
    color: #293251;
    font-size: 0.5em;
}


.temperature-description p{
    padding: 8px;
    margin: 0;
    color: #293251;
    text-align: center;
    font-size: 1.3em;
    text-transform: capitalize;
}


.location p{
    margin: 0;
    padding: 0;
    color: #293251;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
}

.back_arrow {
    background-color: rgb(194, 0, 0);
    width: fit-content;
    border-radius: 20px;
    box-shadow: 5px 5px black;
}

.back_arrow:active {
    background-color: green;
}