header {
    background-color: rgb(255, 255, 255);
    border: 2px black solid;
    padding: 1px;
}

td, tr{
    border: 5px solid black;
    width: 45vw;
    height: 40vh;
    background-color:#384d99;
    overflow: hidden;
}

table.center{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

body {
    text-align:center;
    background-color:rgb(163, 108, 5);
}

.photo{
    width: fit-content;
    height: fit-content;
}

.photo_email:hover, .photo_music:hover, .photo_meteo:hover,.photo_reg:hover,.photo_info:hover,.photo_vid:hover{
    background-color: #1d2952;    
}

.photo_email:active, .photo_music:active, .photo_meteo:active,.photo_reg:active,.photo_info:active,.photo_vid:active{
    background-color: green;    
}

td a{
    display: block;
    margin: -10em;
    padding: 10em;
}