td, tr{
    border: 5px solid black;
    width: 50vw;
    height: 45vh;
    background-color:#384d99;
}

table.center{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

body {text-align:center;
}

.photo{
    width: 30vw;
    height: 40vh;
}
body{
    background-color: #293251;
}